<article class="content items-list-page">
    <div class="card items">
        <ul class="item-list striped"  id="tasks_list">
            <li class="item item-list-header hidden-sm-down">
                <div class="item-row">
                    <div class="item-col fixed item-col-check"></div>
                    <div class="item-col item-col-header fixed item-col-stats">
                        <div> <span>Owner:</span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-title">
                        <div> <span>Name:</span> </div>
                    </div>
                    <div class="item-col item-col-header item-col-date">
                        <div> <span>Due Date:</span> </div>
                    </div>
                </div>
            </li>
            <% tasks.each do |task| %>
              <%= render 'tasks/task_item', task: task%>
            <% end %>
        </ul>
    </div>
</article>
