<h4>My tasks</h4>
<div class="row placeholders">
  <div class="center-container col-md-6" >
    <% if @tasks.any? %>
      <%= render partial: "tasks", locals: {tasks: @tasks} %>
    <% else %>
      <p>No tasks found.</p>
      <% end %>
  </div>
  <div class="right-container col-md-6">
  </div>
</div>
