<%  notifications.each do |notification| %>
  <% if notification.activities.count > 0 %>
    <li>
      <a class="notification-item">
        <div class="body-col list-group-item">
         <%= renderNotification(notification, true) %>
        </div>
      </a>
    </li>
  <% end %>
<% end %>

