<% task= notification.activities.first.subject%>
<div class="inbox-thread-warper" data-request-url=<%=project_task_path(task.project, task, :redirect => compact)%>
  <p>
    <i class="fa fa-tasks" aria-hidden="true"></i> 
    <%= "#{task.name}"%>
  </p>

  <% notification.activities.each do |a| %>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <%= "#{a.user.name} assigned this task to #{current_user == a.trackable ? 'you': a.trackable.name}" %>
  <% end %>
</div>
