<div class="inbox-thread-warper">
  <h2><%= "#{notification.activities.first.subject.name}"%></h3>
  <% notification.activities.each do |a| %>
    <p><%= "#{a.user.name} assigned this task to #{a.trackable.name}" %></p>
  <% end %>
</div>
