<h1><%= "On task: #{notification.activities.first.subject.name}"%></h1>
<% notification.activities.each do |a| %>
  <h2><%= "#{a.user.name} assigned this task to #{a.trackable.name}" %></h2>
<% end %>
