<div class="inbox-thread-warper">
  <h5>
    <i class="fa fa-tasks" aria-hidden="true"></i>
    <%= "#{notification.activities.first.subject.name}"%>
  </h5>

  <% notification.activities.each do |a| %>
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <%= "#{a.user.name} assigned this task to #{current_user == a.trackable ? 'you': a.trackable.name}" %>
  <% end %>
</div>
