 <div class="inbox-thread-warper">
   <p>
     <i class="fa fa-product-hunt" aria-hidden="true"></i>
     <%= "New task on project: #{notification.activities.first.subject.name}"%>
   </p>

   <% if compact %>
    <% tasks = notification.activities.map {|a| a.trackable }%>
          <ul>
            <% tasks.each do |task| %>
            <li class="item item-task" data-id="<%= task.id %>">
                <div class="item-row">
                        <p class="item-title">  <%= link_to task.name, project_task_path(task.project, task), remote:true%></p> 
                </div>
            </li>
            <% end %>
        </ul>
   <% else %>
     <%= render partial: 'tasks/tasks', locals: {tasks:notification.activities.map {|a| a.trackable } }%>
     <%end %>
  </div>
