<div>
  <footer>
    <div class="col-md-4">
      <h1>Testing</h1>
    </div>
    <div class="col-md-4">
      <h1>One</h1>
    </div>
    <div class="col-md-4">
      <h1>Two</h1>
    </div>
  </footer>
</div>
