<style>
  #true {
    margin-bottom: 20px;
  }
  .im-centered { margin: auto; max-width: 300px;}
  .col-md-3 > h2 {
    color: blue;
    font-size: 36px;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
}

}
</style>

<link rel="stylesheet" href="/assets/dashboards.css">
  <section id="services">
      <div class="container">
        <br />
          <div class="row">
              <div class="im-centered">
                  <img src="/assets/logo.svg" title="CoderSchool" style="width: 125%"></img>
              </div>
          </div>


          <div class="row">

            <!-- CARDS -->
              <div class="col-md-3">
                <h2 class="service-heading">Loi Tran</h2>
                  <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/14633014_10154745913714359_6100717154322258576_n.jpg?oh=b40d3b3d4a20aaa876a9277f28b1176b&oe=58CFA78A" alt="Loi Tran" height="275" width="275" >
                    <h4 class="text-muted">Professional Copy Driven Developer</h4>
              </div>

              <div class="col-md-3">
                <h2 class="service-heading">Manh Truong</h2>
                  <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/216077_3919558345184_831234608_n.jpg?oh=bab5a78cb456070b1c81678234945295&oe=58D1179C" alt="Manh Truong" height="275" width="275" >
                    <h4 class="text-muted">BackEnd Hero aka Brains</h4>
              </div>

              <div class="col-md-3">
                <h2 class="service-heading">Nar Thanh</h2>
                  <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/13221071_819775434834162_2924659989666024546_n.jpg?oh=0c217cecce48bc013a104ff2d9e4a8b7&oe=58D38B90" alt="Nar Thanh" height="275" width="275" >
                    <h4 class="text-muted">FireFighting BugSmasher</h4>
              </div>

              <div class="col-md-3">
                  <h2 class="service-heading">Toan Ngo</h2>
                  <img src="https://scontent-hkg3-1.xx.fbcdn.net/t31.0-8/13308340_10154084875507534_7971401138478558525_o.jpg" alt="Toan Ngo" height="275" width="275" >
                    <h4 class="text-muted">Scrum Master aka Project Manager</h4>
              </div>

              <div class="container">
                <div class="col-lg-5 col-centered">
                  <img src="/assets/git.jpg" title="CoderSchool" style="margin-top:65px" id="true"></img>
                </div>
              </div>

          </div>
      </div>
  </section>
