<div class="container">
  <h1>I did not even know that there were any better conditions to escape to, but I was more</h1>
  <p>I am not an expert driver, and I had immediately to turn my attention to the horse.  When I looked back again the second hill had hidden the black smoke.  I slashed the horse with the whip, and gave him a loose rein until Woking and Send lay between us and that quivering tumult.  I overtook and passed the doctor between Woking and Send.</p>

  <p>Leatherhead is about twelve miles from Maybury Hill.  The scent of hay was in the air through the lush meadows beyond Pyrford, and the hedges on either side were sweet and gay with multitudes of dog-roses. The heavy firing that had broken out while we were driving down Maybury Hill ceased as abruptly as it began, leaving the evening very peaceful and still.  We got to Leatherhead without misadventure about nine o'clock, and the horse had an hour's rest while I took supper with my cousins and commended my wife to their care.</p>

  <p>My wife was curiously silent throughout the drive, and seemed oppressed with forebodings of evil.  I talked to her reassuringly, pointing out that the Martians were tied to the Pit by sheer heaviness, and at the utmost could but crawl a little out of it; but she answered only in monosyllables.  Had it not been for my promise to the innkeeper, she would, I think, have urged me to stay in Leatherhead that night.  Would that I had!  Her face, I remember, was very white as we parted.</p>

  <p>For my own part, I had been feverishly excited all day.  Something very like the war fever that occasionally runs through a civilised community had got into my blood, and in my heart I was not so very sorry that I had to return to Maybury that night.  I was even afraid that that last fusillade I had heard might mean the extermination of our invaders from Mars.  I can best express my state of mind by saying that I wanted to be in at the death.</p>  
</div>
