<div class="<%= controller_name %> container-fluid" id="dashboard">
    <div class="row" id="header">
      <ul>
        <li>Message</li>
        <li>New Project</li>
        <li>New Task</li>
      </ul>
    </div>


  <div class="col-xs-12 col-md-1" id="left">
    <ul>
      <a href="#">New Project</a>
      <a href="#">New Team</a>
      <a href="#">New Task</a>
    </ul>

  </div>

  <div class="col-xs-12 col-md-10" id="main">
    <h1>"Unless you wish me to assume the responsibility," I said, smiling. He looked at me long</h1>
    <p>"Unless you wish me to assume the responsibility," I said, smiling.</p>

    <p>He looked at me long and earnestly before he spoke.</p>

    <p>"Were you to give me your word that neither you nor Dejah Thoris would attempt to escape until after we have safely reached the court of Tal Hajus you might have the key and throw the chains into the river Iss."</p>

    <p>"It were better that you held the key, Tars Tarkas," I replied</p>
  </div>
  <div class="col-xs-12 col-md-1" id="right">
    <p>"Unless you wish me to assume the responsibility," I said, smiling.</p>

    <p>He looked at me long and earnestly before he spoke.</p>

    <p>"Were you to give me your word that neither you nor Dejah Thoris would attempt to escape until after we have safely reached the court of Tal Hajus you might have the key and throw the chains into the river Iss."</p>
  </div>
</div>
