<div class="<%= controller_name %> container-fluid" id="dashboard">
    <div class="row" id="header">
      <ul>
        <a href="">Test</a>
        <a href="">One</a>
      </ul>
    </div>

    <div class="col-xs-12 col-md-1" id="left">
      <ul>
        <div class="panel">
          <div class="panel-heading">
              <a data-toggle="collapse" href="#collapse2">Team</a>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">New Team</div>
            <div class="panel-footer">View Teams</div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
              <a data-toggle="collapse" href="#collapse3">Project</a>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">New Project</div>
            <div class="panel-footer">View Projects</div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
              <a data-toggle="collapse" href="#collapse4">Task</a>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">New Task</div>
            <div class="panel-footer">View Tasks</div>
          </div>
        </div>
      </ul>
    </div>

    <div class="col-xs-12 col-md-10" id="main">
      <h1>"Unless you wish me to assume the responsibility," I said, smiling. He looked at me long</h1>
      <p>"Unless you wish me to assume the responsibility," I said, smiling.</p>

      <p>He looked at me long and earnestly before he spoke.</p>

      <p>"Were you to give me your word that neither you nor Dejah Thoris would attempt to escape until after we have safely reached the court of Tal Hajus you might have the key and throw the chains into the river Iss."</p>

      <p>"It were better that you held the key, Tars Tarkas," I replied</p>
    </div>
    <div class="col-xs-12 col-md-1" id="right">
      <p>"Unless you wish me to assume the responsibility," I said, smiling.</p>

      <p>He looked at me long and earnestly before he spoke.</p>

      <p>"Were you to give me your word that neither you nor Dejah Thoris would attempt to escape until after we have safely reached the court of Tal Hajus you might have the key and throw the chains into the river Iss."</p>
    </div>
  </div>
