<div>
	<td><%= link_to project.name, project_path(project) %> </td>
	<td><%= project.tasks.count %> </td>
	<td style="float:right; margin-right:20px;"><%= link_to 'Delete', destroy_project_path(project), method: :delete, class: 'btn btn-danger'%></td>
</div>
