<h1>Dashboard</h1>
<div class="row placeholders">
  <div class="center-container">
    <table class="table">
      <tbody class="tasks">
        

      </tbody>
    </table>
  </div>
  <div class="right-container">
  </div>

</div>
