<div class="container">
  <h2>Project</h2>
  <div class="row placeholders">
    <div class="center-container">
      <table class="table">
        <tbody class="projects">
          <% if current_team %>
            <% current_team.projects.each do |project| %>
            <tr id=<%=project.id%> >
              <%= render 'project',project: project %>
            </tr>
            <% end %>
          <% end %>
          <tr> <td><%= link_to 'New Project', new_project_path, remote: true, data: { toggle: "modal", target: "#ajax-modal-project" },class: 'btn btn-outline-primary'%></td></tr>
        </tbody>
      </table>
    </div>
    <div class="right-container">
  </div>
</div>
