
<nav class="navbar navbar-toggleable-md" style="height: 75px; position: absolute; right: 10px; top: 10px;">
  <div class="rightNavbar">
    <a href="/html/"><%= current_user.name %></a>
    <a href="/html/">Notifications</a>
  </div>
</nav>

<section class="dashboardGreeting">
  <div class="dashboardClock">
    <%= Time.zone.now.strftime("%I:%M")%>
  </div>
  <h1>Chào buổi sáng, Toan</h1>
  <blockquote style="margin-top: 30px">
    “Once a year, go some place you've never been before.“ — Dalai Lama
  </blockquote>
</section>
