// Import Montserrat font
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}
body {
  background: url("http://hunterxx.com/resources/images/btv0k50c_4m-siamak-djamei.jpg") no-repeat;
  background-size: cover;
  font-family: 'Open Sans';
}
@import "dashboards.scss";
@import "bootstrap";
@import "font-awesome";
