/*
 *= require jquery-ui/datepicker
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "toastr";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

#topNav {
  font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 5px 12px;
  clear: both;
  font-weight: normal;
  color: #4f5f6f;
  white-space: nowrap;
  -webkit-transition: none;
          transition: none; }
  .dropdown-menu .dropdown-item i {
    margin-right: 2px; }
  .dropdown-menu .dropdown-item:hover {
    color: #2973ba !important;
    background: none;
    background-color: whitesmoke; }

.dropdown-item i {
  text-align: center;
  width: 14px;
}
// End General Application scss

// Toan Ngo Sidebar togglable block
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  left: 50px;
  width: 150px;
  background: #3a4651;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #3a4651;
  #border-top: 1px solid #373737;
  #border-bottom: 1px solid grey;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #bdbdbd;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #bdbdbd;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
  float:right;
  padding-right: 65px;
  padding-top:20px;
}
.sub_icon
{
  float:right;
  padding-right: 65px;
  padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
}
#sidebar-wrapper {
  left: 47px;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
  width: 150px;
  transition: all .4s ease 0s;
}

// Avatar
.round-image {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.round-image-16 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

/* Make the badge float in the top right corner of the button */
.nav_link__badge {
  border-radius: 2px;
  color: red;

  padding: 1px 3px;
  font-size: 10px;

  position: relative; /* Position the badge within the relatively positioned button */
  top: 5;
  right: 0;
}
// End toggleable block
// Custom bootstrap variables must be set or imported before bootstrap itself.
// For comments

