.home {
  min-height: 1000px;

  div {
    border-radius: 10px;
  }

  ul li{
    display: inline;
  }
  #header{
    background-color: red;;
  }

  #left{
    background-color: black;
    ul {
      padding-left: 0px;
    }

    ul > a {
      float:left;
      clear:left;
      color: red;
    }
  }

  #main {
    background-color: lightblue;
    padding-left: 50px;
    padding-right: 50px;
  }

  #right {
    background-color: lightpink;
  }
}

#dashboard {
  background-color: #222222;
  padding-top: 25px;
  border-radius: 10px;
}
.panel {
  margin-top: 15px;
  width: 100%;
}
.home > div {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
