<% @task_news.each do |new| %>
  <div class="alert alert-success">
  <p> <%= "#{new.user.email} #{new.action} #{new.trackable_type} in task #{new.subject.name}" %> </p> 
<strong><%= render new.trackable %></strong>
  </div>
<% end %>
