<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      Chart
    </div>
    <div class="card-block">
      <%= chartjs_line_chart @data, @options %>
    </div>
  </div>
</div>
