  <footer>
    <div class="row">
      <div class="col-xs-4 col-centered">
        <h1>Testing</h1>
      </div>
      <div class="col-xs-4 col-centered">
        <h1>One</h1>
      </div>
      <div class="col-xs-4 col-centered">
        <h1>Two</h1>
      </div>
    </div>
  </footer>
